services:

  nginx:
    image: nginx:alpine
    ports:
      - "8082:80"
    volumes:
      - ./app:/var/www/html
      - ./docker/nginx/dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  web:
    container_name: until_web
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    env_file:
      - .env.dev
    ports:
      - "9000:9000"
    depends_on:
      - mysql
    volumes:
      - ./app:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/php.ini

  mysql:
    container_name: until_mysql
    build: 
      context: ./docker/mysql
      dockerfile: Dockerfile
    env_file:
      - .env.dev
    volumes:
      - ./docker/mysql/my.cnf:/etc/mysql/conf.d/my.cnf
      - dbdata:/var/lib/mysql
    ports:
      - "33306:3306"

volumes:
  dbdata:

